alabaster==0.7.16
astroid==3.1.0
autopep8==2.1.0
Babel==2.14.0
certifi==2024.2.2
charset-normalizer==3.3.2
cloudpickle==3.0.0
contourpy==1.2.0
cycler==0.12.1
dill==0.3.8
docutils==0.20.1
fonttools==4.49.0
idna==3.6
imagesize==1.4.1
isort==5.13.2
Jinja2==3.1.3
kiwisolver==1.4.5
Mako==1.3.2
Markdown==3.5.2
MarkupSafe==2.1.5
matplotlib==3.8.3
mccabe==0.7.0
numpy==1.26.4
packaging==23.2
pdoc3==0.10.0
pillow==10.2.0
platformdirs==4.2.0
pycodestyle==2.11.1
Pygments==2.17.2
pylint==3.1.0
pyparsing==3.1.2
python-dateutil==2.9.0.post0
requests==2.31.0
shapely==2.0.3
six==1.16.0
shapely==2.0.3
snowballstemmer==2.2.0
sphinxcontrib-applehelp==1.0.8
sphinxcontrib-devhelp==1.0.6
sphinxcontrib-htmlhelp==2.0.5
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.7
sphinxcontrib-serializinghtml==1.1.10
tomlkit==0.12.4
urllib3==2.2.1
